 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 871px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 589px;
  margin: 54px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 45px 61px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 499px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-bottom: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1274px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  width: 521px;
  margin: 38px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 59px 61px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1605px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1560px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 370px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  width: 554px;
  margin: 24px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: 17px 62px 56px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }
}