.u-section-1 .u-sheet-1 {
  min-height: 1331px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 26px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 42px 97px 0;
}

.u-section-1 .u-text-3 {
  margin: 57px 97px 0;
}

.u-section-1 .u-text-4 {
  margin: 27px 97px 0;
}

.u-section-1 .u-text-5 {
  margin: 31px 98px 60px 97px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
}