.u-section-1 .u-sheet-1 {
  min-height: 652px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  width: 299px;
  margin: 36px auto 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 42px;
  margin-bottom: 35px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(2, 50%);
  min-height: 490px;
  grid-auto-columns: 50%;
  grid-gap: 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-1 .u-image-1 {
  height: 318px;
  width: 320px;
  object-position: 50% 2.48%;
  margin: 10px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 15px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 14px 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-1 .u-image-2 {
  height: 318px;
  width: 320px;
  margin: 10px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 15px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 14px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    min-height: 404px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}